
.slider-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .hero-1 {
    background-image: url('../../assets/hero-1.jpg');
  }
  
  .hero-2 {
    background-image: url('../../assets/hero-2.jpg');
  }
  
  .hero-3 {
    background-image: url('../../assets/hero-3.png');
  }
  
  .slick-prev {
    color: #000;
    z-index: 2;
    left: 50px;
    /* background-color: #000; */
  }
  .slick-next{
    color: #000;
    z-index: 2;
    right: 50px;
    /* background-color: #000; */
  }
  .slick-dots li button:before {
    color: #000;
    opacity: 0.75;
  }
  
  .slick-dots li.slick-active button:before {
    color: #ff5722;
    opacity: 1;
  }
  

.header__container {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  
   .header__content {
    width: 550px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  } 
  
  .header__content h4 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-color);
  }
  
  .header__content h1 {
    font-size: 3rem;
    font-weight: 800;
    font-family: var(--header-font);
    color: var(--text-dark);
  }
  
  .header__content p {
    margin-bottom: 2rem;
    color: var(--text-light);
  }
  
  .header__image {
    position: relative;
    height: 100%;
  }
  
  .header__image img {
    position: absolute;
    left: 60%;
    bottom: -4rem;
    filter: drop-shadow(9px 5px 3px rgba(0, 0, 0, 0.3));
    transform: translateX(-60%);
    max-width: 450px;
    
  }

  @media only screen and (max-width: 800px) {
    
    .header__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
  }
  @media only screen and (max-width: 500px) {
    
    .header__container{
      height: 400px;
    }
    .header__content h1 {
      font-size: 2rem;
    }
  }
  @media only screen and (max-width: 370px) {
    
    .header__container{
      height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }
    .header__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
    } 
    
  .header__content h4 {
    font-size: .8rem;
    font-weight: 500;
    color: var(--primary-color);
  }
    .header__content h1 {
      font-size: 2rem;
    }
    .header__content p{
      font-size: 1rem;
      margin-bottom: 10px;
      text-align: justify;
    }
  }