@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Satisfy&display=swap');

:root {
  --primary-color: #ed3849;
  --primary-color-dark: #d23141;
  --primary-color-light: #f4e5ec;
  --primary-indigo : #6366f1;
  --text-dark: #0f172a;
  --text-light: #64748b;
  --extra-light: #f8fafc;
  --white: #ffffff;
  --max-width-1400: 1400px;
  --max-width-1200: 1200px;
  --max-width-900: 900px;
  --header-font: "Lora", serif;
}

body{
  background-color: #ffffff;
  overflow-x: hidden;
}
.background {
  background: #f89b9b;
  background: -webkit-linear-gradient(90deg, hsla(0, 87%, 79%, 1) 0%, hsla(6, 77%, 85%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(0, 87%, 79%, 1) 0%, hsla(6, 77%, 85%, 1) 100%);
  background: linear-gradient(90deg, hsla(0, 87%, 79%, 1) 0%, hsla(6, 77%, 85%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F89999", endColorstr="#F6C0BA", GradientType=1);
}

.background2 {
  background: #86f4b4;
  background: -webkit-linear-gradient(90deg, hsla(145, 83%, 74%, 1) 0%, hsla(204, 77%, 76%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(145, 83%, 74%, 1) 0%, hsla(204, 77%, 76%, 1) 100%);
  background: linear-gradient(90deg, hsla(145, 83%, 74%, 1) 0%, hsla(204, 77%, 76%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#87F4B5", endColorstr="#93CBF1", GradientType=1);
}

.background3 {
  background: #f7c0ec;
  background: -webkit-linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);
  background: linear-gradient(90deg, hsla(312, 77%, 86%, 1) 0%, hsla(220, 61%, 79%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F7C0EC", endColorstr="#A7BDEA", GradientType=1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

.section__container {
  max-width: var(--max-width-1400);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.section__subheader {
  max-width: 500px;
  margin: auto;
  color: var(--text-light);
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 0.2px;
  position: relative;
  transition: all .5s ease 0s;
  overflow: hidden;
}

.btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-indigo);
  transform: scaleX(0);
  z-index: -1;
  transition: all .4s ease 0s;
} 

.btn:hover:after {
  transform: scaleX(1);
} 

.btn:hover {
  transform: scale(1.01);
  color: var(--white);
}
.btn:hover {
  background-color: var(--primary-indigo);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

/* animated button */ 

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: transparent;
  border-radius: 100px;
  font-weight: 600;
  color: #1f387e;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1f387e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #c5e5e4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #1f387e;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}


nav {
  max-width: var(--max-width-1200);
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__links {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link{
  position: relative;
}
.link::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transition: all .5s ease;
  transform-origin: center;
  bottom: 0;
  left: 0;
}
.link:hover::before{
  transform: scaleX(1);

}
.link a {
  font-weight: 500;
  color: var(--text-dark);
  text-decoration: none;
}

.active{
  color: var(--primary-color);
}

.nav__logo a {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Great Vibes';
  color: var(--primary-color);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.nav__logo a span {
  color: var(--text-dark);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.nav__icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
}

.nav__icons span a {
  font-size: 1.25rem;
  color: var(--text-dark);
}

.nav__icons span a:hover {
  color: var(--primary-color);
}



.categories__grid {
  max-width: var(--max-width-900);
  margin: auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.categories__card {
  text-align: center;
}

.categories__card img {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  border: 5px solid var(--white);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.categories__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.hero__card {
  position: relative;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -50%);
}

.hero__content p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary-color);
}

.hero__content h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.hero__content a {
  color: var(--text-dark);
  text-decoration: underline;
}

.hero__card img {
  border-radius: 5px;
}
.product__grid {
  max-width: var(--max-width-900);
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product__card__content {
  text-align: start;
  padding: 1rem;
}

.product__rating {
  margin-bottom: 5px;
  font-size: 0.8rem;
  color: #fbe647;
}

.product__card__content h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: var(--header-font);
}

.product__card__content p {
  font-weight: 500;
  color: var(--text-dark);
}

.product__card__content p s {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text-light);
}

.product__btn {
  text-align: center;
}

.product__card{
  overflow: hidden;

}

.cart__btn{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 0px;
  height: 100%;
  overflow-x: hidden;
  transition: all .3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}

.product__content:hover img{
  transform: scale(1.2) rotateY(180deg) ; 
  transform-origin: center;
}
.product__content:hover .cart__btn{
  width: 100%;
  padding: 8px;
}


.deals__container {
  background-color: var(--primary-color-light);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.deals__image {
  height: 100%;
  position: relative;
}

.deals__image img {
  position: absolute;
  left: 50%;
  bottom: -5rem;
  transform: translateX(-50%);
  max-width: 550px;
}

.deals__content {
  max-width: 600px;
  margin-right: auto;
}

.deals__content h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.deals__content h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.deals__content p {
  margin-bottom: 2rem;
  color: var(--text-light);
}

.deals__countdown {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.deals__countdown__card {
  height: 80px;
  width: 80px;
  display: grid;
  place-content: center;
  text-align: center;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.deals__countdown__card h4 {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: var(--text-dark);
}

.deals__countdown__card p {
  margin-bottom: 0;
  font-weight: 500;
  color: var(--text-dark);
}

.banner__container {
  max-width: var(--max-width-900);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.banner__card {
  text-align: center;
}

.banner__card span {
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 2rem;
  color: var(--primary-color);
}

.banner__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.banner__card p {
  color: var(--text-light);
}

/* Parallex effect box */

#parallexbox{
  position: relative;
  width: 100%;
  height: 500px;
  align-content: center;
  background: url('./assets/about/about-us.jpg') no-repeat center center/cover;
  background-attachment: fixed;
}
#parallexbox .effect{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4e5ec5a;
}

.blog__container {
  background-color: var(--extra-light);
  border-radius: 1rem;
}

.blog__grid {
  max-width: var(--max-width-900);
  margin: auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.blog__card {
  background-color: var(--white);
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.blog__card__content {
  padding: 1rem;
  text-align: start;
}

.blog__card__content h6 {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--primary-color);
}

.blog__card__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.blog__card__content p {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--text-light);
}
.gallery-wrapper {
  position: relative;
  background-color: #fdbbbb;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  align-content: center;
}
.gallery-wrapper::before{
 position: absolute;
 content: "";
 top: 12px;
 left: 0;
 background-color: white;
 width: 100%;
 height: 5px;
}
.gallery-wrapper::after{
 position: absolute;
 content: "";
 bottom: 12px;
 left: 0;
 background-color: white;
 width: 100%;
 height: 5px;
}

.gallery-track {
  display: flex;
  gap: 20px;
  animation: scroll var(--scroll-speed, 80s) linear infinite;
}

.gallery-item {
  flex-shrink: 0;
  width: clamp(150px, 20vw, 250px);
}

.gallery-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.gallery-item img:hover {
  transform: scale(1.05);
}

/* Animation uses dynamic track width */
@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--track-width) / 2)); }
}

/* Popup styles */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 999;
  animation: fadeIn 0.3s ease;
}

.popup-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  border-radius: 20px;
}

.popup-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2.5rem;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease;
}

.popup-close:hover {
  transform: scale(1.2);
}

.popup-arrow {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  color: rgb(30, 29, 29);
  background: rgba(255, 255, 255, 0.9);
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  transition: background 0.2s ease;
}

.popup-arrow:hover {
  color: #d23141;
}

.popup-arrow.left {
  left: 30px;
}

.popup-arrow.right {
  right: 30px;
}


/* Fade-in effect */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}





.footer__container {
  max-width: var(--max-width-1200);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer__container h4 {
  position: relative;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
  /* border-bottom: 2px solid #121212; */
  padding-bottom: 5px;
 display: inline-block;
}
.footer__container h4::after{
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--text-dark);
  left: 2px;
  bottom: 0;
}

.footer__col p {
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__col p span {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: var(--primary-color);
}

.footer__col a {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.footer__col a:hover {
  color: var(--primary-color);
}

.instagram__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer__bar {
  text-align: center;
  font-size: 0.8rem;
  color: var(--text-light);
  border-top: 2px solid var(--extra-light);
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .header__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__content {
    margin: auto;
    text-align: center;
  }

  .header__image {
    min-height: 300px;
  }

  .hero__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .product__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .deals__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .deals__content {
    margin: auto;
    text-align: center;
  }

  .deals__countdown {
    justify-content: center;
  }

  .deals__image {
    min-height: 300px;
    grid-area: 2/1/3/2;
  }

  .banner__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .footer__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (width < 600px) {
  .categories__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .product__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .banner__container {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .instagram__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.nav__icons span a.dropdown-items{
  font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-product-InputCSS {
  @apply mt-1 block py-2.5 px-4 w-full rounded-md bg-gray-100 border-gray-300 shadow-sm focus:outline-none focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm
}

.add-product-btn{
  @apply mt-5 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
}
